<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список Пользователей</title>
</head>
<body>
<div>
    <ul class="first">
      {% for i in object_list %}
        <li>
            {{i.username}}
            {{i.email}}
        </li>
      {% endfor %}
    </ul>

</div>
</body>
<style>
    .first  {
list-style: none;
padding: 0;
}
.first li {
padding: 10px 30px;
background: linear-gradient(to left, #f8ab8d 0%, white, #f8ab8d);
border-bottom: 1px solid grey;
color: #506a6b;
font-size: 20px;
box-shadow: 0 5px 5px 0 rgba(0,0,0, .2);
margin-bottom: 5px;
}
.first li:last-child {border-bottom: none;}
</style>
</html>