{% load static %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'css/style_phone.css' %}">
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <nav class="navbar bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="https://cdn.iconscout.com/icon/free/png-256/kia-3166557-2641347.png" alt="Bootstrap" width="30" height="24">
    </a>
  </div>
</nav>
  <div class="container-fluid">
    <a class="navbar-brand" href="/phone_list/">Главная</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Добавить</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/">В ПУ</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Что вы хотите сделать ?
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/login/">Добавить смартфон</a></li>
            <li><a class="dropdown-item" href="delete_or_update_phone_list/">Удалить или изменить смартфон</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Каталог</a>
        </li>
      </ul>
      <form action="{% url 'search' %}" method="GET" class="d-flex" role="search">
        <input class="form-control me-2" type="search" type="text" name="q" placeholder="Поиск" aria-label="Поиск">
        <button class="btn btn-outline-success" type="submit">Поиск</button>
      </form>
    </div>
  </div>
</nav>