<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Phone Detail</title>
</head>
<body>
{% include 'header.html' %}
<center>

<div class="card" style="width: 18rem;">
    <img src="{{object.image.url}}" class="card-img-top"  alt="...">
    <div class="card-body">
        <h5 class="card-title">{{object.title}}</h5>
        <p class="card-text">{{object.description}}</p>
        <p class="card-text">{{object.cost}}</p>
        <p class="card-text">{{object.model_phone}}</p>
        <p class="card-text">{{object.created_date}}</p>
        <a href="/" class="btn btn-primary">На главную</a>

    </div>
</div>

  <iframe src="{{object.video}}" frameborder="0" width="400" height="250"></iframe>
    <table border="2">
        <tr>
            <th>Имя</th> <th>Оценка</th> <th>Дата создания</th>
        </tr>
        {% for i in object.comment_object.all %}
        <tr>
            <td>{{i.name}}</td> <td>{{i.stars}}</td> <td>{{i.date_created}}</td>
        </tr>
        {% endfor %}
    </table>

</center>

{% include 'footer.html' %}
</body>
</html>