<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Phone List</title>
</head>
<body>

{% include 'header.html' %}
{% for i in object_list %}

<div class="card">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">{{i.title}}</h5>
    <p class="card-text">{{i.description}}</p>
    <a href="/phone_list/{{i.id}}" class="btn btn-primary">Подробнее</a>
    <a href="/add-review/" class="btn btn-primary">Оставить отзыв</a>
  </div>
</div>
<hr>

{% endfor %}
{% include 'footer.html' %}
</body>
</html>