<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Phone Detail</title>
</head>
<body>
{% include 'header.html' %}
<center>

<div class="card" style="width: 18rem;">
    <img src="{{phone_details.image.url}}" class="card-img-top"  alt="...">
    <div class="card-body">
        <h5 class="card-title">{{phone_details.title}}</h5>
        <p class="card-text">{{phone_details.description}}</p>
        <p class="card-text">{{phone_details.cost}}</p>
        <p class="card-text">{{phone_details.model_phone}}</p>
        <p class="card-text">{{phone_details.created_date}}</p>
        <a href="/phone_list/" class="btn btn-primary">На главную</a>

    </div>
</div>

  <iframe src="{{phone_details.video}}" frameborder="0" width="400" height="250"></iframe>

</center>

{% include 'footer.html' %}
</body>
</html>