
<!doctype html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Post</title>
    <link rel="shortcut icon" href="https://w7.pngwing.com/pngs/925/176/png-transparent-logo-small-business-handshake-marketing-joint-text-hand-service.png">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<center>
    <button><h2>Home</h2></button>
    <button><h2>Contact</h2></button>
    <button><h2>Portfolio</h2></button>
    <button><h2>About Us</h2></button>
</center>

 {% for i in post_object %}

<div class="container">
    <div class="post">
        <div class="post-image">
            <img src="{{i.image.url}}">
        </div>
        <div class="post-content">
            <div class="post-header">
                <h1>{{i.title}}</h1>
                <div class="post-meta">
                    <time datetime="2019-04-01">{{i.created_date}}</time>
                </div>
            </div>
            <p>{{i.description}}</p>
        </div>
    </div>
</div>
  {% endfor %}



</body>
</html>







